html body {
    width: 100%;
    height: 100vh;
}

body {
    background-image: url(https://images.unsplash.com/photo-1650980868373-742128d5b38b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80),
    linear-gradient(rgb(219, 166, 166), rgb(0, 0, 172));
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
}

.container {
    height: 290vh;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.box {
    top: 50px;
    background-color: rgba(255,255,255, 0.2);
    /* background-color: rgba(0, 0, 0, 0.4);  for dark mode it is compatable for this*/ 
     border-radius: 15px;
    text-align: center;
    line-height: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    padding: 20px 40px;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: fixed;
    color: black;
    min-width: 50%;
    min-height: 50%;

    
}